<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <div id="app">
      <input v-model="todoitem">
      <div v-for="(todo, index) in todos">
        <button v-on:click="remove(index)">Remove</button>
        {{ todo.text }}
      </div>
      <button v-on:click="add">Add</button>
      
    </div>
  </body>
  <script>
    var list = new Vue({
      el:'#app',
      data:{
        todoitem:'',
        todos:[
          {text:'1'},
          {text:'2'},
          {text:'3'}
        ]
      },
      methods:{
        add: function (){
          this.todos.push({text:this.todoitem})
          this.todoitem=''
          //console.log(this.todos);
        },
        remove: function (index){
          this.todos.splice(index,1)
        }
      }
    })
  </script>
</html>